.theme--dark.v-navigation-drawer {
    background-color: #160014;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.v-navigation-drawer {
    background-color: #99008c;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.v-sheet.v-list:not(.v-sheet--outlined) {
    border-radius: 30px;
}

.theme--dark.v-toolbar__content, .theme--dark.v-toolbar__extension {
    background-color: #0f000a;
}
.v-toolbar__content, .v-toolbar__extension {
    background-color: #70006b;
}

.v-menu__content {
    border-radius: 30px;
}
.v-sheet.v-card:not(.v-sheet--outlined) {
        border-radius: 20px;
    }
.console {
    border-radius: 10px;
}


.theme--dark.v-bottom-navigation {
    background-color: #0f000a !important;
    box-shadow: 0px 0px 0px 0px !important;
}
.v-bottom-navigation {
    background-color: #70006b !important;
    box-shadow: 0px 0px 0px 0px !important;
}


.v-btn:not(.v-btn--round).v-size--default {
    border-radius: 10px;
}
.v-btn:not(.v-btn--round).v-size--large {
    border-radius: 10px;
}
.py-2 {
    border-radius: 20px;
}
.v-data-table {
    border-radius: 20px;
}